<div class="flex">
  <div class="flex-1">
    <h1 class="text-3xl font-bold">
      Heroes
      <span
        class="bg-gray-500 rounded text-sm mr-2 px-2.5 py-0.5 align-middle text-white"
      >
        {{ nbrHeroes }}/{{ filteredHeroes.length }}
      </span>
    </h1>
  </div>

  <div>
    <app-switch-faction
      (factionChange)="filterFaction($event)"
    ></app-switch-faction>
  </div>
</div>

<div class="text-sm sm:text-base">
  <div
    *ngFor="let hero of filteredHeroes"
    class="flex flex-row hover:bg-gray-100 dark:hover:bg-gray-700"
  >
    <p-button
      icon="pi pi-pencil"
      [text]="true"
      size="small"
      styleClass="p-0 flex-auto text-center w-10"
      (onClick)="editHero(hero)"
    ></p-button>
    <div class="flex-auto w-24">{{ hero.faction }}</div>
    <app-col-name
      class="flex-auto w-20 grow"
      [name]="hero.name"
      [full]="hero.isFull()"
      [rc]="hero.rc"
    ></app-col-name>
    <app-col-ascend
      class="flex-auto w-20 text-center"
      [ascend]="hero.ascend"
    ></app-col-ascend>
    <app-col-si class="flex-auto w-12 text-center" [si]="hero.si"></app-col-si>
    <app-col-fi class="flex-auto w-12 text-center" [fi]="hero.fi"></app-col-fi>
    <app-col-engrave
      class="flex-auto w-12 text-center"
      [engrave]="hero.engrave"
    ></app-col-engrave>
    <app-col-gear
      class="flex-auto text-center w-14"
      [gear]="hero.gear"
    ></app-col-gear>
    <div class="flex content-center justify-center min-w-10">
      <p-checkbox [(ngModel)]="hero.rc" [binary]="true" [disabled]="true" />
    </div>
  </div>
</div>

<app-hero-edit
  [(visible)]="displayEditModal"
  [hero]="currentHero"
  (heroChange)="saveHero()"
></app-hero-edit>
