<h1 class="text-3xl font-bold underline">
  Heroes
</h1>

<div class="uk-grid-divider" uk-grid>
  <div class="uk-width-2-3@m">

    <div>Filters: 
      <img *ngFor="let faction of factions" 
            (click)="filterFaction(faction)" 
            class="filter"
            [class.active]="currentFilter === faction"
            [src]="'assets/factions/' + faction + '.png'" />
    </div>

    <ul class="uk-list uk-list-divider">
      <li *ngFor="let hero of filteredHeroes" (click)="editHero(hero)" class="hero">
        {{hero.name}}
        SI: {{hero.si}}
        F: {{hero.fi}}
        E: {{hero.engraving}}
      </li>
    </ul>
  </div>

  <div class="uk-width-1-3@m">
    <div *ngIf="currentHero">
      <p class="uk-float-right">
        <a (click)="closeHero()"><span uk-icon="icon: close"></span></a>
      </p>
      <p class="uk-text-bold">{{currentHero.name}}</p>
      <p><label for="si">SI</label>
        <input name="si" type="number" [(ngModel)]="currentHero.si" (blur)="saveHero(currentHero)" class="uk-input" />
      </p>
      <p><label for="si">FI</label>
        <input name="si" type="number" [(ngModel)]="currentHero.fi" (blur)="saveHero(currentHero)" class="uk-input" />
      </p>
      <p><label for="si">Engraving</label>
        <input name="si" type="number" [(ngModel)]="currentHero.engraving" (blur)="saveHero(currentHero)" class="uk-input" />
      </p>
    </div>
  </div>
</div>
